<h1>Edit Profile</h1>
<%= form_with(model: @profile, local: true) do |form| %>

  <div class="field">
    <h2><%= form.label :目標を決めましょう！！ %></h2>
        <%= form.text_area :goal %>
  </div>

  <div class="actions">
    <%= form.submit 'Save' %>
  </div>
<% end %>