* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
}

footer {
  background: #35424a;
  color: #ffffff;
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
}

footer p {
  margin: 0;
}

.post-card {
  margin-bottom: 30px; 
}

.post-image {
  max-width: 100%; 
  height: auto;   
  max-height: 300px; 
  
}

.home-background {
  background-image: url('training_image_with_mascot.png');
  background-size: cover; /* 画像を画面全体に拡大 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-attachment: fixed; /* 背景画像を固定 */
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* 上に薄い影を追加 */
  z-index: 1000; /* 他の要素より前に表示されるように */
  padding: 10px 20px; /* パディングを追加 */
}

.fixed-footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  font-weight: bold;
  font-size: 15px;
}

.card-title{
  color: black;
}

.container a:hover {
  color: red; 
}


.top1{
  color: white;
}

.shadow {
  position: relative;
  margin-right: 30px; 
  
}

